@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
/* -- HEADER -- */
.nav {
  text-align: center;
  margin: 30px 0;
  display: flex;
  justify-content: space-between;
}

.nav__button {
  color: #f03000;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 18px;
  padding: 20px;
  border: 0;
  background-color: transparent;
  text-decoration: none;
}

.nav__button:hover {
  background-color: #f03000;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .nav {
    margin: 0;
  }
}
/* -- FOOTER -- */
footer {
  background-color: #444444;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  padding: 20px;
  text-align: center;
  margin-top: 40px;
}

.footer__text {
  margin: 0;
}

/* -- OFFERS -- */
.offerList {
  display: grid;
  grid-template-rows: 240px 150px 150px;
  gap: 20px;
}

.offerList__title {
  margin-bottom: 20px;
}

.offer,
.offer__price,
.offer__text {
  position: relative;
}

.offer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  overflow: hidden;
  text-decoration: none;
}

.offer__img {
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  transform: scale(1);
  transition: transform 0.5s;
}

.offer__img:hover {
  transform: scale(1.05);
}

.offer__price {
  background-color: #f03000;
  padding: 10px;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-size: 18px;
  margin: 20px;
}

.offer__text {
  color: #ffffff;
  width: 100%;
  padding: 20px;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
}

.offer__title {
  margin: 0;
}

.offer__description {
  font-family: "Open Sans", sans-serif;
  margin: 18px 0 0;
}

@media screen and (min-width: 768px) {
  .offerList {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 380px 180px;
    gap: 20px;
  }
  .offer--bigger,
  .offer--lastMinute {
    grid-column: 1/-1;
  }
}
@media screen and (min-width: 960px) {
  .offerList {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 180px 180px;
  }
  .offer--bigger {
    grid-column: 1/span 2;
    grid-row: 1/span 2;
  }
  .offer--lastMinute {
    grid-column: 2/span 2;
    grid-row: 1/span 2;
  }
}
/* -- BENEFITS -- */
.benefits {
  display: grid;
  gap: 10px;
}

.benefit {
  background-color: #f0f0f0;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr;
}

.benefit__icon {
  margin: 20px auto;
}

.benefit__title {
  color: #f03000;
  font-size: 18px;
}

.benefit__text {
  padding-right: 20px;
}

.benefit__description {
  font-size: 16px;
}

@media screen and (min-width: 768px) {
  .benefits {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
  }
  .benefit {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .benefit__title {
    margin-top: 0;
  }
  .benefit__text {
    padding-left: 20px;
  }
}
@media screen and (min-width: 960px) {
  .benefits {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }
}
/* -- NEWS -- */
.news {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.new {
  background-color: #f0f0f0;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  padding-top: 20px;
  font-weight: 600;
}

.new__date {
  margin: 20px 20px 10px;
}

.new__title {
  color: #f03000;
  margin: 10px 20px;
}

.new__text {
  color: #000000;
  margin: 10px 20px 20px;
}

@media screen and (min-width: 960px) {
  .news {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 1fr;
  }
  .news__title {
    grid-column: span 3;
  }
}
/* -- INTRO -- */
.tripDetail__intro {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  min-height: 240px;
}

.intro__img {
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  transform: scale(1);
  transition: transform 0.5s;
}

.intro__img:hover {
  transform: scale(1.05);
}

.intro__text {
  position: relative;
  padding: 20px;
  color: #ffffff;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6));
}

.intro__title {
  font-size: 28px;
  margin: 0;
}

.intro__description {
  font-size: 16px;
  margin: 15px 0 0;
}

@media screen and (min-width: 768px) {
  .tripDetail__intro {
    min-height: 380px;
  }
  .intro__title {
    font-size: 48px;
  }
  .intro__description {
    font-size: 20px;
    margin-top: 10px;
  }
  .intro_description {
    font-size: 20px;
  }
}
/* --- DESCRIPTION ---*/
.description {
  margin-top: 0;
}

.description__title {
  margin: 25px 0;
}

/* --- INFO --- */
.tripDetail__info {
  display: grid;
  gap: 20px;
}

.info {
  background-color: #e5e5e5;
  padding: 20px;
}

.info__title {
  color: #888888;
  font-weight: 300;
  font-size: 14px;
  text-transform: uppercase;
  padding-bottom: 6px;
  margin: 0;
}

.info__description {
  font-size: 16px;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.info--important {
  background-color: #f03000;
  color: #ffffff;
}

.info--important .info__description {
  font-size: 28px;
  font-weight: 600;
}

.info--important .info__title {
  opacity: 70%;
  color: #f0f0f0;
}

@media screen and (min-width: 768px) {
  .tripDetail__info {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 960px) {
  .tripDetail__info {
    grid-column: 2;
    grid-template-columns: 1fr;
  }
}
/* --- DESCRIPTION ---*/
.description {
  margin-top: 0;
}

.description__title {
  margin: 25px 0;
}

/* --- GALLERY --- */
.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.gallery__photo {
  width: 100%;
}

@media screen and (min-width: 768px) {
  /* --- GALLERY --- */
  .gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 20px;
  }
}
@media screen and (min-width: 960px) {
  .tripDetail {
    display: grid;
    gap: 0 20px;
    grid-template-columns: 2fr 1fr;
  }
  /* --- GALLERY --- */
  .gallery {
    grid-column: 1;
  }
}
@media screen and (min-width: 960px) {
  .tripDetail {
    display: grid;
    gap: 0 20px;
    grid-template-columns: 2fr 1fr;
  }
}
html {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

/* -- BASE -- */
body {
  margin: 36px 20px 40px;
  display: flex;
  justify-content: center;
}

h1 {
  color: #f03000;
  text-align: center;
  font-size: 30px;
  font-weight: 800;
  margin: 0;
  text-transform: uppercase;
}

h1,
h2,
h3 {
  font-family: "Montserrat", sans-serif;
}

h2 {
  color: #000000;
  margin: 0;
}

p {
  font-family: "Open Sans", sans-serif;
}

section {
  margin-top: 40px;
}

.container {
  max-width: 1200px;
}

@media screen and (min-width: 768px) {
  body {
    margin-top: 40px;
  }
}/*# sourceMappingURL=style.css.map */