@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
html {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

/* -- BASE -- */
body {
  margin: 36px 20px 40px;
  display: flex;
  justify-content: center;
}

h1 {
  color: #f03000;
  text-align: center;
  font-size: 30px;
  font-weight: 800;
  margin: 0;
}

h1,
h2,
h3 {
  font-family: "Montserrat", sans-serif;
}

h2 {
  color: #000000;
  margin: 0;
}

p {
  font-family: "Open Sans", sans-serif;
}

section {
  margin-top: 40px;
}

.container {
  max-width: 1200px;
}

/* -- HEADER -- */
.nav {
  text-align: center;
  margin: 30px 0;
  display: flex;
  justify-content: space-between;
}

.nav__button {
  color: #f03000;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 18px;
  padding: 20px;
  border: 0;
  background-color: transparent;
}

.nav__button--primary {
  background-color: #f03000;
  color: #ffffff;
}

/* -- OFFERS -- */
.offerList {
  display: grid;
  grid-template-rows: 240px 150px 150px;
  gap: 20px;
}

.offerList__title {
  margin-bottom: 20px;
}

.offer,
.offer__price,
.offer__text {
  position: relative;
}

.offer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
}

.offer__img {
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.offer__price {
  background-color: #f03000;
  padding: 10px;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-size: 18px;
}

.offer__text {
  color: #ffffff;
}

.offer__title {
  margin: 0;
}

.offer__description {
  font-family: "Open Sans", sans-serif;
  margin: 18px 0 0;
}

/* -- BENEFITS -- */
.benefits {
  display: grid;
  gap: 10px;
}

.benefit {
  background-color: #f0f0f0;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr;
}

.benefit__icon {
  margin: 20px auto;
}

.benefit__title {
  color: #f03000;
  font-size: 18px;
}

.benefit__text {
  padding-right: 20px;
}

.benefit__description {
  font-size: 16px;
}

/* -- NEWS -- */
.news {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.new {
  background-color: #f0f0f0;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  padding-top: 20px;
  font-weight: 600;
}

.new__date {
  margin: 20px 20px 10px;
}

.new__title {
  color: #f03000;
  margin: 10px 20px;
}

.new__text {
  color: #000000;
  margin: 10px 20px 20px;
}

/* -- FOOTER -- */
footer {
  background-color: #444444;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  padding: 20px;
  text-align: center;
  margin-top: 40px;
}

.footer__text {
  margin: 0;
}

@media screen and (min-width: 768px) {
  body {
    margin-top: 40px;
  }
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .nav {
    margin: 0;
  }
  .offerList {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 380px 180px;
    gap: 20px;
  }
  .offer--bigger,
  .offer--lastMinute {
    grid-column: 1/-1;
  }
  .benefits {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
  }
  .benefit {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .benefit__title {
    margin-top: 0;
  }
  .benefit__text {
    padding-left: 20px;
  }
}
@media screen and (min-width: 960px) {
  .offerList {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 180px 180px;
  }
  .offer--bigger {
    grid-column: 1/span 2;
    grid-row: 1/span 2;
  }
  .offer--lastMinute {
    grid-column: 2/span 2;
    grid-row: 1/span 2;
  }
  .benefits {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }
  .news {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 1fr;
  }
  .news__title {
    grid-column: span 3;
  }
}/*# sourceMappingURL=style.css.map */