$color-accent: #f03000;
$color-white: #ffffff;
$color-whiteGrey: #f0f0f0;
$color-transparentGrey: #80808080;
$color-grey: #888888;
$color-darkGrey: #444444;
$color-black: #000000;
$color-grey--background: #e5e5e5;
