<!DOCTYPE html>
<html lang="cs">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>{{title}}</title>
  </head>
  <body>
    <div class="container">
      <header>
        <h1>Cestovka</h1>
        <nav class="nav">
          <a href="/index.html#lastMinute" class="nav__button" type="button"
            >Last minute</a
          >
          <a href="/" class="nav__button">Destinace</a>
          <a href="/" class="nav__button">Časté otázky</a>
        </nav>
      </header>
{{ content | safe}}
      <footer class="footer">
        <p class="footer__text">©2021, Czechitas</p>
      </footer>
    </div>
  </body>
</html>
