<header>
        <h1>Cestovka</h1>
        <nav class="nav">
          <a href="/.#lastMinute" class="nav__button" type="button"
            >Last minute</a
          >
          <a href="/" class="nav__button">Destinace</a>
          <a href="/" class="nav__button">Časté otázky</a>
        </nav>
      </header>
